{% extends "base.html" %}
{% block head_content %}
{% endblock %}
{% block content %}
    <div class="card bg-light">
        <br>
        <div class="card-body text-center">
            <h2 class="card-title">Do your streaming preferences align with your live music preferences?</h2>
            <p class="card-text">Expected survey length: <i>~5 min</i></p>
            <form method="POST" action="/login/">
                <input type="submit" class="btn-success" value="Sign In with Spotify">
            </form>
        </div>
        <br>
    </div>
    <br>
    <div class="card bg-light">
        <br>
        <div class="card-body text-center">
            <p class="card-text">The goal of this survey is to answer the question above. "Sign in with Spotify" will bring you to a Spotify login page to authorize this survey to access your top listening preferences. Your responses will be very helpful in our research, so thank you for your time!</p>
        </div>
        <br>
    </div>
{% endblock %}
