{% extends "user_survey.html" %}
{% block short_term %}

  {% for artist in top_artists %}
        <fieldset>
            <legend><b>{{ artist["name"] }}?</b></legend>
            <label for="top-artist-short-term-yes">Yes:</label>
            <input type="radio" id="top-artist-short-term-yes" name="{{ artist['name'] }}-top-artist-short-term-yes"><br><br>
            <label for="top-artist-short-term-no">No:</label>
            <input type="radio" id="top-artist-short-term-no" name="{{ artist['name'] }}-top-artist-short-term-no">
        </fieldset>
        <fieldset>
            <legend><b>Local artist like {{ artist["name"] }}?</b></legend>
            <label for="top-artist-short-term-local-yes">Yes:</label>
            <input type="radio" id="top-artist-short-term-local-yes" name="{{ artist['name'] }}-top-artist-short-term-local-yes"><br><br>
            <label for="top-artist-short-term-local-no">No:</label>
            <input type="radio" id="top-artist-short-term-local-no" name="{{ artist['name'] }}-top-artist-short-term-local-no">
        </fieldset>
        <br>
  {% endfor %}

<br>

  {% for artist in top_tracks %}
        <div>
            <fieldset>
                <legend><b>{{ artist["name"] }}?</b></legend>
                <label for="top-track-short-term-yes">Yes:</label>
                <input type="radio" id="top-track-short-term-yes" name="{{ artist['name'] }}-top-track-short-term-yes"><br><br>
                <label for="top-track-short-term-no">No:</label>
                <input type="radio" id="top-track-short-term-no" name="{{ artist['name'] }}-top-track-short-term-no">
            </fieldset>
            <fieldset>
                <legend><b>Local artist like {{ artist["name"] }}?</b></legend>
                <label for="top-track-short-term-local-yes">Yes:</label>
                <input type="radio" id="top-track-short-term-local-yes" name="{{ artist['name'] }}-top-track-short-term-local-yes"><br><br>
                <label for="top-track-short-term-local-no">No:</label>
                <input type="radio" id="top-track-short-term-local-no" name="{{ artist['name'] }}-top-track-short-term-local-no">
            </fieldset>
        </div>
  {% endfor %}
{% endblock %}

{% block medium_term %}

  {% for artist in top_artists %}
        <fieldset>
            <legend><b>{{ artist["name"] }}?</b></legend>
            <label for="top-artist-medium-term-yes">Yes:</label>
            <input type="radio" id="top-artist-medium-term-yes" name="{{ artist['name'] }}-top-artist-medium-term-yes"><br><br>
            <label for="top-artist-medium-term-no">No:</label>
            <input type="radio" id="top-artist-medium-term-no" name="{{ artist['name'] }}-top-artist-medium-term-no">
        </fieldset>
        <fieldset>
            <legend><b>Local artist like {{ artist["name"] }}?</b></legend>
            <label for="top-artist-medium-term-local-yes">Yes:</label>
            <input type="radio" id="top-artist-medium-term-local-yes" name="{{ artist['name'] }}-top-artist-medium-term-local-yes"><br><br>
            <label for="top-artist-medium-term-local-no">No:</label>
            <input type="radio" id="top-artist-medium-term-local-no" name="{{ artist['name'] }}-top-artist-medium-term-local-no">
        </fieldset>
        <br>
  {% endfor %}

<br>

  {% for artist in top_tracks %}
        <div>
            <fieldset>
                <legend><b>{{ artist["name"] }}?</b></legend>
                <label for="top-track-medium-term-yes">Yes:</label>
                <input type="radio" id="top-track-medium-term-yes" name="{{ artist['name'] }}-top-track-medium-term-yes"><br><br>
                <label for="top-track-medium-term-no">No:</label>
                <input type="radio" id="top-track-medium-term-no" name="{{ artist['name'] }}-top-track-medium-term-no">
            </fieldset>
            <fieldset>
                <legend><b>Local artist like {{ artist["name"] }}?</b></legend>
                <label for="top-track-medium-term-local-yes">Yes:</label>
                <input type="radio" id="top-track-medium-term-local-yes" name="{{ artist['name'] }}-top-track-medium-term-local-yes"><br><br>
                <label for="top-track-medium-term-local-no">No:</label>
                <input type="radio" id="top-track-medium-term-local-no" name="{{ artist['name'] }}-top-track-medium-term-local-no">
            </fieldset>
        </div>
  {% endfor %}
{% endblock %}

{% block long_term %}

  {% for artist in top_artists %}
        <fieldset>
            <legend><b>{{ artist["name"] }}?</b></legend>
            <label for="top-artist-long-term-yes">Yes:</label>
            <input type="radio" id="top-artist-long-term-yes" name="{{ artist['name'] }}-top-artist-long-term-yes"><br><br>
            <label for="top-artist-long-term-no">No:</label>
            <input type="radio" id="top-artist-long-term-no" name="{{ artist['name'] }}-top-artist-long-term-no">
        </fieldset>
        <fieldset>
            <legend><b>Local artist like {{ artist["name"] }}?</b></legend>
            <label for="top-artist-long-term-local-yes">Yes:</label>
            <input type="radio" id="top-artist-long-term-local-yes" name="{{ artist['name'] }}-top-artist-long-term-local-yes"><br><br>
            <label for="top-artist-long-term-local-no">No:</label>
            <input type="radio" id="top-artist-long-term-local-no" name="{{ artist['name'] }}-top-artist-long-term-local-no">
        </fieldset>
        <br>
  {% endfor %}

<br>

  {% for artist in top_tracks %}
        <div>
            <fieldset>
                <legend><b>{{ artist["name"] }}?</b></legend>
                <label for="top-track-long-term-yes">Yes:</label>
                <input type="radio" id="top-track-long-term-yes" name="{{ artist['name'] }}-top-track-long-term-yes"><br><br>
                <label for="top-track-long-term-no">No:</label>
                <input type="radio" id="top-track-long-term-no" name="{{ artist['name'] }}-top-track-long-term-no">
            </fieldset>
            <fieldset>
                <legend><b>Local artist like {{ artist["name"] }}?</b></legend>
                <label for="top-track-long-term-local-yes">Yes:</label>
                <input type="radio" id="top-track-long-term-local-yes" name="{{ artist['name'] }}-top-track-long-term-local-yes"><br><br>
                <label for="top-track-long-term-local-no">No:</label>
                <input type="radio" id="top-track-long-term-local-no" name="{{ artist['name'] }}-top-track-long-term-local-no">
            </fieldset>
        </div>
  {% endfor %}
{% endblock %}