{% extends "user_survey.html" %}
{% block short_term %}

  {% for artist in top_artists_short_term %}
        <div class="card bg-light">
            <div class="card-body">
                <h3>{{ artist["name"] }}</h3>
                <br>
                <fieldset>
                    <p><b>Would you see this artist live?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-short-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-short-term-yes" name="{{ artist['name'] }}-top-artist-short-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-short-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-short-term-no" name="{{ artist['name'] }}-top-artist-short-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>What about a similar local artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-local-short-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-local-short-term-yes" name="{{ artist['name'] }}-top-artist-local-short-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-local-short-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-local-short-term-no" name="{{ artist['name'] }}-top-artist-local-short-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>Have you ever actually seen this artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-yes" name="{{ artist['name'] }}-seen-artist" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-no" name="{{ artist['name'] }}-seen-artist" value="no">
                    </p>
                </fieldset>
            </div>
        </div>

        <br>
  {% endfor %}

<br>

  {% for artist in top_tracks_short_term %}
        <div class="card bg-light">
            <div class="card-body">
                <h3>{{ artist["name"] }}</h3>
                <br>
                <fieldset>
                    <p><b>Would you see this artist live?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-short-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-short-term-yes" name="{{ artist['name'] }}-top-track-short-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-short-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-short-term-no" name="{{ artist['name'] }}-top-track-short-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>What about a similar local artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-local-short-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-local-short-term-yes" name="{{ artist['name'] }}-top-track-local-short-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-local-short-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-local-short-term-no" name="{{ artist['name'] }}-top-track-local-short-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>Have you ever actually seen this artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-yes" name="{{ artist['name'] }}-seen-artist" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-no" name="{{ artist['name'] }}-seen-artist" value="no">
                    </p>
                </fieldset>
            </div>
        </div>

        <br>
  {% endfor %}
{% endblock %}

{% block medium_term %}

  {% for artist in top_artists_medium_term %}
        <div class="card bg-light">
            <div class="card-body">
                <h3>{{ artist["name"] }}</h3>
                <br>
                <fieldset>
                    <p><b>Would you see this artist live?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-medium-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-medium-term-yes" name="{{ artist['name'] }}-top-artist-medium-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-medium-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-medium-term-no" name="{{ artist['name'] }}-top-artist-medium-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>What about a similar local artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-local-medium-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-local-medium-term-yes" name="{{ artist['name'] }}-top-artist-local-medium-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-local-medium-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-local-medium-term-no" name="{{ artist['name'] }}-top-artist-local-medium-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>Have you ever actually seen this artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-yes" name="{{ artist['name'] }}-seen-artist" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-no" name="{{ artist['name'] }}-seen-artist" value="no">
                    </p>
                </fieldset>
            </div>
        </div>

        <br>
  {% endfor %}

<br>

  {% for artist in top_tracks_medium_term %}
        <div class="card bg-light">
            <div class="card-body">
                <h3>{{ artist["name"] }}</h3>
                <br>
                <fieldset>
                    <p><b>Would you see this artist live?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-medium-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-medium-term-yes" name="{{ artist['name'] }}-top-track-medium-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-medium-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-medium-term-no" name="{{ artist['name'] }}-top-track-medium-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>What about a similar local artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-local-medium-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-local-medium-term-yes" name="{{ artist['name'] }}-top-track-local-medium-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-local-medium-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-local-medium-term-no" name="{{ artist['name'] }}-top-track-local-medium-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>Have you ever actually seen this artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-yes" name="{{ artist['name'] }}-seen-artist" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-no" name="{{ artist['name'] }}-seen-artist" value="no">
                    </p>
                </fieldset>
            </div>
        </div>

        <br>
  {% endfor %}
{% endblock %}

{% block long_term %}

  {% for artist in top_artists_long_term %}
        <div class="card bg-light">
            <div class="card-body">
                <h3>{{ artist["name"] }}</h3>
                <br>
                <fieldset>
                    <p><b>Would you see this artist live?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-long-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-long-term-yes" name="{{ artist['name'] }}-top-artist-long-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-long-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-long-term-no" name="{{ artist['name'] }}-top-artist-long-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>What about a similar local artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-local-long-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-local-long-term-yes" name="{{ artist['name'] }}-top-artist-local-long-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-artist-local-long-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-artist-local-long-term-no" name="{{ artist['name'] }}-top-artist-local-long-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>Have you ever actually seen this artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-yes" name="{{ artist['name'] }}-seen-artist" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-no" name="{{ artist['name'] }}-seen-artist" value="no">
                    </p>
                </fieldset>
            </div>
        </div>

        <br>
  {% endfor %}

<br>

  {% for artist in top_tracks_long_term %}
        <div class="card bg-light">
            <div class="card-body">
                <h3>{{ artist["name"] }}</h3>
                <br>
                <fieldset>
                    <p><b>Would you see this artist live?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-long-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-long-term-yes" name="{{ artist['name'] }}-top-track-long-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-long-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-long-term-no" name="{{ artist['name'] }}-top-track-long-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>What about a similar local artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-local-long-term-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-local-long-term-yes" name="{{ artist['name'] }}-top-track-local-long-term" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-top-track-local-long-term-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-top-track-local-long-term-no" name="{{ artist['name'] }}-top-track-local-long-term" value="no">
                    </p>
                </fieldset>
                <fieldset>
                    <p><b>Have you ever actually seen this artist?</b></p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-yes">Yes</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-yes" name="{{ artist['name'] }}-seen-artist" value="yes">
                    </p>
                    <p>
                        <label for="{{ artist['name'] }}-seen-artist-no">No</label>
                        <input type="radio" id="{{ artist['name'] }}-seen-artist-no" name="{{ artist['name'] }}-seen-artist" value="no">
                    </p>
                </fieldset>
            </div>
        </div>

        <br>
  {% endfor %}
{% endblock %}

{% block user_info %}
<div class="card bg-light">
    <div class="card-body">
        <fieldset>
            <legend>On average, how often do you attend live music events?</legend>
            <div>
<!--              <label for="frequency-id">On average, how often do you attend live music events?</label>-->
              <p id="frequency-id">
                <input type="radio" name="frequency" value="0"> 0 times a year<br>
                <input type="radio" name="frequency" value="1-3"> 1-3 times a year<br>
                <input type="radio" name="frequency" value="4-6"> 4-6 times a year<br>
                <input type="radio" name="frequency" value="7-12"> 7-12 times a year<br>
                <input type="radio" name="frequency" value="12-24"> 1 or 2 times a month<br>
                <input type="radio" name="frequency" value="25+"> 3+ times a month
              </p>
            </div>
        </fieldset>
    </div>
</div>

<br>

<div class="card bg-light">
    <div class="card-body">
        <fieldset>
            <legend>Do you feel as if your taste in music is represented by the live music events in your city?</legend>
                <div>
<!--                  <label for="music-represented-city">Do you feel your taste in music represented in your city?</label>-->
                  <p id="music-represented-city">
                    <input type="radio" name="music-represented" value="yes"> Yes<br>
                    <input type="radio" name="music-represented" value="no"> No
                  </p>
                </div>
        </fieldset>
    </div>
</div>

<br>

<div class="card bg-light">
    <div class="card-body">
        <fieldset>
            <legend>Select some of your favorite genres to see live.</legend>
                <div>
<!--                  <label for="music-tastes-id">Check some of your favorite genres to see live.</label>-->
                  <p id="music-tastes-id">
                    <input type="checkbox" name="music-tastes-alternative" value="alternative"> Alternative<br>
                    <input type="checkbox" name="music-tastes-classical" value="classical"> Classical<br>
                    <input type="checkbox" name="music-tastes-blues" value="blues"> Blues<br>
                    <input type="checkbox" name="music-tastes-country" value="country"> Country<br>
                    <input type="checkbox" name="music-tastes-dance" value="dance"> Dance<br>
                    <input type="checkbox" name="music-tastes-electronic" value="electronic"> Electronic<br>
                    <input type="checkbox" name="music-tastes-hip-hop/rap" value="hip-hop/rap"> Hip-Hop/Rap<br>
                    <input type="checkbox" name="music-tastes-indie-pop" value="indie-pop"> Indie Pop<br>
                    <input type="checkbox" name="music-tastes-jazz" value="jazz"> Jazz<br>
                    <input type="checkbox" name="music-tastes-latin" value="latin"> Latin<br>
                    <input type="checkbox" name="music-tastes-metal" value="metal"> Metal<br>
                    <input type="checkbox" name="music-tastes-pop" value="pop"> Pop<br>
                    <input type="checkbox" name="music-tastes-progressive" value="progressive"> Progressive<br>
                    <input type="checkbox" name="music-tastes-r&b/soul" value="r&b/soul"> R&B/Soul<br>
                    <input type="checkbox" name="music-tastes-reggae" value="reggae"> Reggae<br>
                    <input type="checkbox" name="music-tastes-rock" value="rock"> Rock<br>
                    <input type="checkbox" name="music-tastes-world" value="world"> World
                  </p>
                </div>
        </fieldset>
    </div>
</div>

<br>

<div class="card bg-light">
    <div class="card-body">
        <fieldset>
            <legend>Age (Optional):</legend>
                <div>
<!--                  <label for="age-radio-options">Age</label>-->
                  <p id="age-radio-options">
                    <input type="radio" name="age" value="0-12"> Under 12 years old<br>
                    <input type="radio" name="age" value="12-17"> 12-17 years old<br>
                    <input type="radio" name="age" value="18-24"> 18-24 years old<br>
                    <input type="radio" name="age" value="25-34"> 25-34 years old<br>
                    <input type="radio" name="age" value="35-44"> 35-44 years old<br>
                    <input type="radio" name="age" value="45-54"> 45-54 years old<br>
                    <input type="radio" name="age" value="55+"> 55+ years old
                  </p>
                </div>
        </fieldset>
    </div>
</div>

<br>

<div class="card bg-light">
    <div class="card-body">
        <fieldset>
            <legend>Location (Optional):</legend>
            <p><i>Ex: City, State => Portland, OR</i></p>
                <div>
                    <input type="text" id="location" name="location-name" placeholder="Enter location here">
                </div>
        </fieldset>
    </div>
</div>

<br>

<div class="card bg-light">
    <div class="card-body">
        <fieldset>
            <legend>Email (Optional):</legend>
            <p><i>If you're open to being contacted in the future for additional feedback.</i></p>
                <div>
                  <input type="email" id="email-input-id" name="email-name" placeholder="Enter email here">  
                </div>
        </fieldset>
    </div>
</div>
{% endblock %}
