{% extends "base.html" %}
{% block content %}
    <p>For Spotify User: {{ username }}</p>
    <h1>Would you attend the following live events?</h1>
    <br>
    <br>
    <form action="/save_survey/{{ username }}" method="POST" id="survey">
      <div id="content">
          <div>{% block short_term %}{% endblock %}</div>
          <br>
          <div>{% block medium_term %}{% endblock %}</div>
          <br>
          <div>{% block long_term %}{% endblock %}</div>
      </div>
      <br>
      <input type="submit" class="btn-primary" value="Submit Survey" />
    </form>
{% endblock %}